.App {
    padding-top: 20px;
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card .card-body {
    border-radius: .25rem .25rem 0 0;
}

.card {
    margin-bottom: 20px;
}

.bg-blue {
    background-color: #0096d0;
}

.bg-violetre {
    background-color: #cd59ae;
}

.bg-dark-gray {
    background-color: #484d4d;
}

.bg-orange {
    background-color: #ff8a00;
}

.bg-purple {
    background-color: #b28ad6;
}

.bg-red {
    background-color: #ff4826;
}

.bg-green {
    background-color: #63c254;
}